    <footer class="footer">
      <div class="container">
        <br>
        <p class="text-center">
          Developed By <a href="https://twitter.com/gregjopa" target="_blank">@gregjopa</a>.
          The source code for this demo is available on github:
          <br><a href="https://github.com/gregjopa/express-app-testing-demo" target="_blank">
            https://github.com/gregjopa/express-app-testing-demo
          </a>

        </p>
      </div>
    </footer>

    <script type="text/javascript">
      const tags = '<%= tagsParameter %>';
      const tagmode = '<%= tagmodeParameter %>';
      const params = {
        tags: tags,
        tagmode: tagmode
      };

      const downloadZipButton = document.querySelector('.download-zip');
      if (downloadZipButton) {
        downloadZipButton.addEventListener('click', () => {
          fetch("/zip", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(params),
          }).catch((error) => {
            console.error("Error:", error);
          });
        })
      }
    </script>
  </body>
</html>
